body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffdfd;
    color: #000000;
}

nav {
    background-color: #a5bbfcfc;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #000000;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    animation: fadeIn 2s;
}

p {
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.grid-item:hover {
    transform: scale(1.05);
}

.specs {
    padding: 20px;
}

.specs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spec-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    flex: 1 1 200px;
    transition: transform 0.3s;
}

.spec-item:hover {
    transform: scale(1.05);
}

.price {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-comprar {
    background-color: #3968f6;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: #7b7b7b;
}